disco
{
  min-height: 100vh;
  max-width: 100vw;
  margin: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: small;
}

cabecera
{
  height: 40%;
  width: 40%;
  padding: 20px 0px 20px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(61, 65, 83);
}

imagenPortada
{
  width: 25%;
  background-image: url("caratula.jpg");
  background-size: 100% 100%;
  box-shadow: 5px 5px 15px black;
}

tituloDatos
{
  width: 10%;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

etiqueta
{
  color: grey;
}

datos
{
  width: 40%;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
}

artista
{
  color: rgb(241, 207, 60);
}

informacionDisco
{
  height: 40%;
  width: 40%;
  padding: 20px 0px 20px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(61, 65, 83);
}

cd
{
  width: 100%;
  color: grey;
  font-weight: bold;
}

numeroCancion
{
  height: 100%;
  width: 5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  font-weight: bold;
}

numero:nth-child(odd)
{
  background-color: #292625;
}

tituloCancion
{
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

titulo
{
  color: white;
}

titulo:nth-child(odd)
{
  background-color: #292625;
}

duracion
{
  color: rgb(162, 162, 162);
}
